.bg-gray {
  background-color: #f1f4f8 !important;
}

.text-gold {
  color: $gold;
}

.text-gray {
  color: $color-gray;
}

.text-gray-200 {
  color: $color-gray-200;
}

.text-gray-500 {
  color: $color-gray-500;
}
