.cart-font {
  font-size: $cart-font;

  &-lg {
    font-size: 1.25rem;
    left: 0;
  }
}

.footer-font {
  font-size: $footer-font;

  &:hover {
    color: $gold;
  }
}

.medium-font {
  font-size: $medium-font;
}

.normal-font {
  font-size: $normal-font;
}

.nav-font {
  font-size: $nav-font;
}

.small-font {
  font-size: $small-font;
}
