.border-top-gray {
  border-top: 1px solid #e5e7e9 !important;
}

.line-height-22 {
  line-height: 22px;
}

.mt-5 {
  margin-top: 5rem !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
