@media (min-width: 992px) {
  .mt-11 {
    margin-top: 11.5rem !important;
  }

  .navbar-border-right {
    width: 1.5px;
    height: 24px;
    background: #e0e0e0;
    margin: 0 0 0 21px;
  }

  .fixed-top-lg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .cart-font-lg {
    position: relative;
    left: 10px;
    font-size: 1rem;
  }

  .fixed-bottom-lg {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .img-lg-default {
    transform: translate(80%, 20%);
    width: 400px;
  }
}

@media (max-width: 1000px) {
  .badge {
    position: relative;
  }
}

@media (max-width: 575.98px) {
  .m-xs-auto {
    margin: auto !important;
  }

  .ml-xs-auto {
    margin-left: auto !important;
  }

  .order-xs-1 {
    order: 1;
  }

  .order-xs-2 {
    order: 2;
  }
}
