$cart-font: 14px !important;
$footer-font: 13px !important;
$nav-font: 14px !important;
$medium-font: 24px !important;
$normal-font: 15px !important;
$small-font: 12px !important;

$color-gray: #f1f2f3 !important;
$color-gray-200: rgba(49, 53, 59, 0.32) !important;
$color-gray-500: rgba(0, 0, 0, 0.54) !important;

$gold: #f1c550 !important;
$dark: #343a40 !important;
